# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

from azureml import Workspace

ws = Workspace()

### Step 2. Import the dataset from student-mat.csv

In [2]:
ds = ws.datasets['student-mat.csv']

### Step 3. Assign it to a variable called df.

In [3]:
df = ds.to_dataframe()

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [4]:
df = df.loc[:, 'school':'guardian']
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father

### Step 5. Create a lambda function that captalize strings.

In [5]:
cap = lambda x: str(x).capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [6]:
df['Mjob'].apply(lambda row: cap(row)).head()

0    At_home
1    At_home
2    At_home
3     Health
4      Other
Name: Mjob, dtype: object

In [7]:
df['Fjob'].apply(lambda row: cap(row)).head()

0     Teacher
1       Other
2       Other
3    Services
4       Other
Name: Fjob, dtype: object

### Step 7. Print the last elements of the data set.

In [8]:
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
390,MS,M,20,U,LE3,A,2,2,services,services,course,other
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother
392,MS,M,21,R,GT3,T,1,1,other,other,course,other
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and captalize Mjob and Fjob.

In [9]:
df['Mjob'] = df['Mjob'].apply(lambda row: cap(row))
df['Fjob'] = df['Fjob'].apply(lambda row: cap(row))

In [10]:
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
390,MS,M,20,U,LE3,A,2,2,Services,Services,course,other
391,MS,M,17,U,LE3,T,3,1,Services,Services,course,mother
392,MS,M,21,R,GT3,T,1,1,Other,Other,course,other
393,MS,M,18,R,LE3,T,3,2,Services,Other,course,mother
394,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker

In [11]:
def majority(row):
    row['legal_drinker'] = row['age'] >= 18
    return row

In [12]:
df.apply(majority, axis = 1)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father,False
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother,False
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother,False
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father,False
5,GP,M,16,U,LE3,T,4,3,Services,Other,reputation,mother,False
6,GP,M,16,U,LE3,T,2,2,Other,Other,home,mother,False
7,GP,F,17,U,GT3,A,4,4,Other,Teacher,home,mother,False
8,GP,M,15,U,LE3,A,3,2,Services,Other,home,mother,False
9,GP,M,15,U,GT3,T,3,4,Other,Other,home,mother,False
10,GP,F,15,U,GT3,T,4,4,Teacher,Health,reputation,mother,False
11,GP,F,15,U,GT3,T,2,1,Services,Other,reputation,father,False
12,GP,M,15,U,LE3,T,4,4,Health,Services,course,father,False
13,GP,M,15,U,GT3,T,4,3,Teacher,Other,course,mother,False
14,GP,M,15,U,GT3,A,2,2,Other,Other,home,other,False
15,GP,F,16,U,GT3,T,4,4,Health,Other,home,mother,False
16,GP,F,16,U,GT3,T,4,4,Services,Services,reputation,mother,False
17,GP,F,16,U,GT3,T,3,3,Other,Other,reputation,mother,False
18,GP,M,17,U,GT3,T,3,2,Services,Services,course,mother,False
19,GP,M,16,U,LE3,T,4,3,Health,Other,home,father,False
20,GP,M,15,U,GT3,T,4,3,Teacher,Other,reputation,mother,False
21,GP,M,15,U,GT3,T,4,4,Health,Health,other,father,False
22,GP,M,16,U,LE3,T,4,2,Teacher,Other,course,mother,False
23,GP,M,16,U,LE3,T,2,2,Other,Other,reputation,mother,False
24,GP,F,15,R,GT3,T,2,4,Services,Health,course,mother,False
25,GP,F,16,U,GT3,T,2,2,Services,Services,home,mother,False
26,GP,M,15,U,GT3,T,2,2,Other,Other,home,mother,False
27,GP,M,15,U,GT3,T,4,2,Health,Services,other,mother,False
28,GP,M,16,U,LE3,A,3,4,Services,Other,home,mother,False
29,GP,M,16,U,GT3,T,4,4,Teacher,Teacher,home,mother,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,18,R,GT3,T,1,3,At_home,Other,course,mother,True
366,MS,M,18,U,LE3,T,4,4,Teacher,Services,other,mother,True
367,MS,F,17,R,GT3,T,1,1,Other,Services,reputation,mother,False
368,MS,F,18,U,GT3,T,2,3,At_home,Services,course,father,True
369,MS,F,18,R,GT3,T,4,4,Other,Teacher,other,father,True
370,MS,F,19,U,LE3,T,3,2,Services,Services,home,other,True
371,MS,M,18,R,LE3,T,1,2,At_home,Services,other,father,True
372,MS,F,17,U,GT3,T,2,2,Other,At_home,home,mother,False
373,MS,F,17,R,GT3,T,1,2,Other,Other,course,mother,False
374,MS,F,18,R,LE3,T,4,4,Other,Other,reputation,mother,True
375,MS,F,18,R,GT3,T,1,1,Other,Other,home,mother,True
376,MS,F,20,U,GT3,T,4,2,Health,Other,course,other,True
377,MS,F,18,R,LE3,T,4,4,Teacher,Services,course,mother,True
378,MS,F,18,U,GT3,T,3,3,Other,Other,home,mother,True
379,MS,F,17,R,GT3,T,3,1,At_home,Other,reputation,mother,False
380,MS,M,18,U,GT3,T,4,4,Teacher,Teacher,home,father,True
381,MS,M,18,R,GT3,T,2,1,Other,Other,other,mother,True
382,MS,M,17,U,GT3,T,2,3,Other,Services,home,father,False
383,MS,M,19,R,GT3,T,1,1,Other,Services,other,mother,True
384,MS,M,18,R,GT3,T,4,2,Other,Other,home,father,True
385,MS,F,18,R,GT3,T,2,2,At_home,Other,other,mother,True
386,MS,F,18,R,GT3,T,4,4,Teacher,At_home,reputation,mother,True
387,MS,F,19,R,GT3,T,2,3,Services,Other,course,mother,True
388,MS,F,18,U,LE3,T,3,1,Teacher,Services,course,mother,True
389,MS,F,18,U,GT3,T,1,1,Other,Other,course,mother,True
390,MS,M,20,U,LE3,A,2,2,Services,Services,course,other,True
391,MS,M,17,U,LE3,T,3,1,Services,Services,course,mother,False
392,MS,M,21,R,GT3,T,1,1,Other,Other,course,other,True
393,MS,M,18,R,LE3,T,3,2,Services,Other,course,mother,True
394,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [13]:
def mult10(row):
    for x in range(len(row)):
        if type(row[x]) != str:
            row[x] = row[x] * 10
    return row

In [14]:
df.apply(mult10, axis = 1)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,180,U,GT3,A,40,40,At_home,Teacher,course,mother
1,GP,F,170,U,GT3,T,10,10,At_home,Other,course,father
2,GP,F,150,U,LE3,T,10,10,At_home,Other,other,mother
3,GP,F,150,U,GT3,T,40,20,Health,Services,home,mother
4,GP,F,160,U,GT3,T,30,30,Other,Other,home,father
5,GP,M,160,U,LE3,T,40,30,Services,Other,reputation,mother
6,GP,M,160,U,LE3,T,20,20,Other,Other,home,mother
7,GP,F,170,U,GT3,A,40,40,Other,Teacher,home,mother
8,GP,M,150,U,LE3,A,30,20,Services,Other,home,mother
9,GP,M,150,U,GT3,T,30,40,Other,Other,home,mother
10,GP,F,150,U,GT3,T,40,40,Teacher,Health,reputation,mother
11,GP,F,150,U,GT3,T,20,10,Services,Other,reputation,father
12,GP,M,150,U,LE3,T,40,40,Health,Services,course,father
13,GP,M,150,U,GT3,T,40,30,Teacher,Other,course,mother
14,GP,M,150,U,GT3,A,20,20,Other,Other,home,other
15,GP,F,160,U,GT3,T,40,40,Health,Other,home,mother
16,GP,F,160,U,GT3,T,40,40,Services,Services,reputation,mother
17,GP,F,160,U,GT3,T,30,30,Other,Other,reputation,mother
18,GP,M,170,U,GT3,T,30,20,Services,Services,course,mother
19,GP,M,160,U,LE3,T,40,30,Health,Other,home,father
20,GP,M,150,U,GT3,T,40,30,Teacher,Other,reputation,mother
21,GP,M,150,U,GT3,T,40,40,Health,Health,other,father
22,GP,M,160,U,LE3,T,40,20,Teacher,Other,course,mother
23,GP,M,160,U,LE3,T,20,20,Other,Other,reputation,mother
24,GP,F,150,R,GT3,T,20,40,Services,Health,course,mother
25,GP,F,160,U,GT3,T,20,20,Services,Services,home,mother
26,GP,M,150,U,GT3,T,20,20,Other,Other,home,mother
27,GP,M,150,U,GT3,T,40,20,Health,Services,other,mother
28,GP,M,160,U,LE3,A,30,40,Services,Other,home,mother
29,GP,M,160,U,GT3,T,40,40,Teacher,Teacher,home,mother
...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,180,R,GT3,T,10,30,At_home,Other,course,mother
366,MS,M,180,U,LE3,T,40,40,Teacher,Services,other,mother
367,MS,F,170,R,GT3,T,10,10,Other,Services,reputation,mother
368,MS,F,180,U,GT3,T,20,30,At_home,Services,course,father
369,MS,F,180,R,GT3,T,40,40,Other,Teacher,other,father
370,MS,F,190,U,LE3,T,30,20,Services,Services,home,other
371,MS,M,180,R,LE3,T,10,20,At_home,Services,other,father
372,MS,F,170,U,GT3,T,20,20,Other,At_home,home,mother
373,MS,F,170,R,GT3,T,10,20,Other,Other,course,mother
374,MS,F,180,R,LE3,T,40,40,Other,Other,reputation,mother
375,MS,F,180,R,GT3,T,10,10,Other,Other,home,mother
376,MS,F,200,U,GT3,T,40,20,Health,Other,course,other
377,MS,F,180,R,LE3,T,40,40,Teacher,Services,course,mother
378,MS,F,180,U,GT3,T,30,30,Other,Other,home,mother
379,MS,F,170,R,GT3,T,30,10,At_home,Other,reputation,mother
380,MS,M,180,U,GT3,T,40,40,Teacher,Teacher,home,father
381,MS,M,180,R,GT3,T,20,10,Other,Other,other,mother
382,MS,M,170,U,GT3,T,20,30,Other,Services,home,father
383,MS,M,190,R,GT3,T,10,10,Other,Services,other,mother
384,MS,M,180,R,GT3,T,40,20,Other,Other,home,father
385,MS,F,180,R,GT3,T,20,20,At_home,Other,other,mother
386,MS,F,180,R,GT3,T,40,40,Teacher,At_home,reputation,mother
387,MS,F,190,R,GT3,T,20,30,Services,Other,course,mother
388,MS,F,180,U,LE3,T,30,10,Teacher,Services,course,mother
389,MS,F,180,U,GT3,T,10,10,Other,Other,course,mother
390,MS,M,200,U,LE3,A,20,20,Services,Services,course,other
391,MS,M,170,U,LE3,T,30,10,Services,Services,course,mother
392,MS,M,210,R,GT3,T,10,10,Other,Other,course,other
393,MS,M,180,R,LE3,T,30,20,Services,Other,course,mother
394,MS,M,190,U,LE3,T,10,10,Other,At_home,course,father